{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}
    
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}    

<div>
  <h1>{{ .Title }}</h1>
  <div>{{ .Content }}</div>

  <div>
    {{ range .Pages.GroupByParam "sector" }}
      <h2>{{ .Key }}</h2>
      <div class="post-list__container">
        <ul class="post-list">
          {{ range (.Pages.ByParam "sector_weight") }}
            <li class="post">
              <div class="post__header">
                <time class="post__date" datetime="{{ .Date }}"
                  >{{ .Date.Format "2006" }}</time>
                <h2 class="post__title">
                  <a href="{{.RelPermalink}}">{{ .Title }}</a>
                  	{{ if isset .Params "grade" }}
            		      <span class="grade">({{ .Params.grade }})</span>
            		    {{ end }}
                </h2>
                <div class="tags">
                  {{ if and (isset .Params "tags")  (gt (len .Params.tags) 0) }}
                    <span class="tags">
                      {{ delimit .Params.tags ", "}}
                    </span>
                  {{ end }}
                </div>
                <div class="info">
                	<span class="topo">
                    {{ if isset .Params "topo" }}
        	        	  {{ .Params.topo }}
                    {{ else }}
                      unknown topo
        	          {{ end }}
                  </span>
                  <span class="sector">| 
        	          {{ if isset .Params "sector" }}
                      {{ if isset .Params "sector_weight" }}
                        {{ .Params.sector_weight}} @ 
                      {{ end }}
                      {{ .Params.sector }}
                    {{ else }}
                      unknown sector
        	          {{ end }}
                  </span>
                  <span class="type">| 
          	        {{ if isset .Params "type" }}
          	        	{{ .Params.type }}
                    {{ else }}
                      unknown type
          	        {{ end }}
                  </span>
            	</div>
                {{ .Summary }}
              </div>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
  {{ partial "browse-by-tag.html" .}}
</div>

{{ end }}
