@import "posts";

.topo-img-overlay-wrap {
	position: relative;
	display: inline-block;
	transition: transform 150ms ease-in-out;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.topo-img-overlay-wrap img {
	display: block;
	max-width: 100%;
	height: auto;
}
.topo-img-overlay-wrap svg {
	position: absolute;
	top: 0;
	left: 0;
	fill-rule:evenodd !important;
	clip-rule:evenodd !important;
	stroke-linecap:round !important;
	stroke-linejoin:round !important;
	stroke-miterlimit:1.0 !important;
}
.topo-img-overlay-wrap svg path {
	fill: none !important;
	stroke: rgba(27,158,119, 0.7) !important;
	stroke-width: 0.75em !important;
    pointer-events: stroke;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.topo-img-overlay-wrap svg path.hover {
	stroke-width: 0.75em !important;
	stroke: rgba(117, 112, 179, 0.7) !important;
}
.topo-img-overlay-wrap svg path.active {
	stroke: rgba(217, 95, 2, 0.7) !important;
	stroke-width: 1.00em !important;
}
.inline {
	list-style: none;
	list-style-type: none;
}
.inline > li {
	display: inline;
}
.inline > li:not(:last-child)::after {
	content: " | ";
}
ul.route-info {
	list-style: none;
	display: block;
	float: none;
	margin: 0 0 0 0;
	padding: 0.5em 0 1em 0.5em;
}
ul.route-info > li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
ul.route-info > li > ul {
	list-style: none;
	display: block;
	padding: 0 0 0 0;
}
ul.route-info > li > ul > li {
	color: black;
	display: inline;
	font-size: small;
}
ul.route-info > li > ul > li:not(:last-child)::after {
	content: ", ";
}
ul.routes {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
ul.routes > li {
	color: rgb(27, 158, 119);
}
ul.routes > li.hover {
	color: rgb(117, 112, 179);
}
ul.routes > li.active {
	color: rgb(217, 95, 2);
	font-weight: bolder;
}
.route-list {
	display: block;
	float: none;
}
.post-sector__images {
	flex-flow: column wrap;
}
.post-sector__images > h2 {
	padding-bottom: 0.5em;
}
.post-sector__images > h2::after {
	content: " ";
	display: block;
	border: 0.25pt solid rgb(217, 95, 2);
}
.sectorimages {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
}
.sectorimage {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.sectorimage-routelist {
	font-size: small;
	padding: 0 0 0 0 ;
	margin: 0 0 0 0;
}
.post-list__container {
	display: block;
	float: none;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	max-width: 100%;
}
.post-list__container > h2::after {
	content: " ";
	display: block;
	border: 0.25pt solid rgb(217, 95, 2);
}
.post__title {
	margin-top: 0.5em;
}
h1 {
	padding-top: 0.25em;
	margin-top: 0;
}
ul.tags__list {
	float: right;
}
.post__header {
	font-size: 0.8em;
}
.post__header > h3.hover {
	color: rgb(117, 112, 179);
}
.post__header > h3.hover > a {
	color: rgb(117, 112, 179);
}
.post__header > h3.active {
	color: rgb(217, 95, 2);
}
.post__header > h3.active > a{
	color: rgb(217, 95, 2);
}
.post__header > p {
	margin: 0;
	padding: 0;
}
.post__27crags_link {
	margin-top: 0.5em;
	font-size: 0.8em;
	color: rgb(109, 109, 109);
}
.post__27crags_link > a {
	color: rgb(87, 87, 87);

}