@import "post";

.topo-img-overlay-wrap {
	position: relative;
	display: inline-block;
	transition: transform 150ms ease-in-out;
}
.topo-img-overlay-wrap img {
	display: block;
	max-width: 100%;
	height: auto;
}
.topo-img-overlay-wrap svg {
	position: absolute;
	top: 0;
	left: 0;
	fill-rule:evenodd !important;
	clip-rule:evenodd !important;
	stroke-linecap:round !important;
	stroke-linejoin:round !important;
	stroke-miterlimit:1.0 !important;
}
.topo-img-overlay-wrap svg path {
	fill: none !important;
	stroke: rgba(27,158,119, 0.7) !important;
	stroke-width: 0.50em !important;
    pointer-events: stroke;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.topo-img-overlay-wrap svg path.hover {
	stroke-width: 1.00em !important;
	stroke: rgba(117, 112, 179, 0.7) !important;
}
.topo-img-overlay-wrap svg path.active {
	stroke: rgba(217, 95, 2, 0.7) !important;
	stroke-width: 1.00em !important;
}
.inline {
	list-style: none;
	list-style-type: none;
}
.inline > li {
	display: inline;
}
.inline > li:not(:last-child)::after {
	content: " | ";
}
ul.routes > li {
	color: rgb(27, 158, 119);
	font-size: smaller;
}
ul.routes > li.hover {
	color: rgb(117, 112, 179);
}
ul.routes > li.active {
	color: rgb(217, 95, 2);
	font-weight: bolder;
}
ul.route-setters {
  list-style: none;
  list-style-type: none;
  display: inline;
}
ul.route-setters > li {
  display: inline;
}
ul.route-setters > li:not(:last-child):after {
	content: ", ";
}
ul.route-fa {
  list-style: none;
  list-style-type: none;
  display: inline;
}
ul.route-fa > li {
  display: inline;
}
ul.route-fa > li:not(:last-child):after {
	content: ", ";
}
ul.tags__list {
	float: right;
}
.route-description > h2::after {
	content: " ";
	display: block;
	border: 0.25pt solid rgb(217, 95, 2);
}
.post__route_info > h2::after {
	content: " ";
	display: block;
	border: 0.25pt solid rgb(217, 95, 2);
}
.post__sector_images {
	flex-flow: column wrap;
}
.post__sector_images > h2::after {
	content: " ";
	display: block;
	border: 0.25pt solid rgb(217, 95, 2);
}
.sectorimages {
	flex-flow: column wrap;
}
h1 {
	padding-top: 0.25em;
	margin-top: 0;
}
#breadcrumb {
	font-size: smaller;
}
.post {
	max-width: 100%;
}