{{ define "styles" }}
  {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/routes.scss" "dest" "css/routes.css") }}
  {{ if isset .Params "mapinfo" }}
    {{ $scss_options := (dict "targetPath" "/css/leaflet.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
    {{ $leaflet_style := resources.Get "scss/leaflet.scss" | resources.ToCSS $scss_options }}
    <link rel="stylesheet" href="{{ $leaflet_style.RelPermalink }}"/>
  {{ end }}
{{ end }}

{{ define "main" }}
    
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}   
{{ $topo_name := (index (split $.File.Dir "/") 1) }} 
{{ $sector_name := (index (split $.File.Dir "/") 2) }} 
{{ $topo := .Parent }}
{{ $root := $topo.Parent }}

<div>
  <span id="breadcrumb">
    {{ with $root }}{{ if not .IsHome }}<a href="{{ $root.RelPermalink }}">{{ $root.Title }}</a>&nbsp;&gt;&nbsp;{{ end }}{{ end }}
    {{ with $topo }}{{ if not .IsHome }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>&nbsp;&gt;&nbsp;{{ end }}{{ end }}
    <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
  </span>
  <h1>{{ .Title }}</h1>
  {{ with .Params.subheading }}
    <h2>{{ . }}</h2>
  {{ end }}
  
  <div>


    {{/*
    <div class="post__page_resources">
      <h2>Page resources:</h2>
      <ul>
      {{ range .Page.Resources }}
        <li>{{ . }}</li>  
      {{ end }}
      </ul>
    </div>
    */}}

    {{ if (and $topo_name $sector_name) }}
      
      {{ with .Page.Params.link_27crags }}
        <div class="post__27crags_link">
          Sektorin tiedot: <a href="{{ . }}">27crags.com</a>-palvelussa.
        </div>
      {{ end }}

      <div>{{ .Content }}</div>

      {{ if isset .Params "mapinfo" }}
        <div class="post__map">
          {{ partial "leaflet.html" . }}
        </div>
      {{ end }}

      <div class="post-sector__images">
        <h2>Topokuvat</h2>
        {{ partial "sectorimage.html" . }}
        </div>
      </div>  

      <div class="sector-info">
        
      </div>

      <div class="post-list__container">
        <h2>Reitit</h2>
        <div class="route-list">
          <ul class="post-list">
            {{ range (.Pages.ByParam "sector_weight") }}
              <li class="post">
                <div class="post__header" data-route-id="{{ .File.ContentBaseName }}">
                  {{ partial "tags.html" .}} 
                  <h3 class="post__title" data-route-id="{{ .File.ContentBaseName }}">
                    <a href="{{.RelPermalink}}" data-route-id="{{ .File.ContentBaseName }}">{{ .Title }}</a>
                      {{ if isset .Params "grade" }}
                        <span class="grade">({{ .Params.grade }})</span>
                      {{ end }}
                  </h3>
                  <time class="post__date" datetime="{{ .Date }}"
                    >{{ .Date.Format "2006" }}</time>
                  
                  <div class="info">
                    {{/*
                    <span class="topo">
                      {{ if isset .Params "topo" }}
                        {{ .Params.topo }}
                      {{ else }}
                        unknown topo
                      {{ end }}
                    </span>
                    <span class="sector">| 
                      {{ if isset .Params "sector" }}
                        {{ if isset .Params "sector_weight" }}
                          {{ .Params.sector_weight}} @ 
                        {{ end }}
                        {{ .Params.sector }}
                      {{ else }}
                        unknown sector
                      {{ end }}
                    </span>
                    <span class="type">| 
                      {{ if isset .Params "type" }}
                        {{ .Params.type }}
                      {{ else }}
                        unknown type
                      {{ end }}
                    </span>
                    */}}
                    {{ .Summary }}
                  </div>
                </div>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>

    {{ else if $topo_name }}

      {{ with .Page.Params.link_27crags }}
        <div class="post__27crags_link">
          Topon tiedot: <a href="{{ . }}">27crags.com</a>-palvelussa.
        </div>
      {{ end }}
      
      <div>{{ .Content }}</div>

      {{ if isset .Params "mapinfo" }}
        <div class="post__map">
          {{ partial "leaflet.html" . }}
        </div>
      {{ end }}

      {{/*
      <div>Current section: {{ .Section }}</div>
      <div>Topo: {{ $topo_name }}</div>
      <div>Sector: {{ $sector_name }}</div>
      */}}

      <div class="post-list__container">
        {{ range (.Sections.ByWeight) }}
          <div class="post">
            <div class="post__header">
              <h2 class="post__title">
                <a href="{{.RelPermalink}}">{{ .Title }}</a>
              </h2>
              <div class="info">
                <ul class="route-info">
                  <li>Reittejä: {{ len .RegularPages.ByWeight }}</li>
                  <li>
                    <ul class="routes">
                      {{ range .RegularPages.ByWeight }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }} {{ with .Params.grade }} ({{ . }}){{ end }}</a></li>
                      {{ end }}
                    </ul>
                  </li>
                </ul>
              </div>
              {{ .Summary }}
            </div>
          </div>
        {{ end }}
      </div>


    {{ else }}
      
      <div>{{ .Content }}</div>

      <div class="post-list__container">
        {{ range (.Sections.ByWeight) }}
          <div class="post">
            <div class="post__header">
              <h2 class="post__title">
                <a href="{{.RelPermalink}}">{{ .Title }}</a>
              </h2>
              <div class="content">
                {{ .Summary }}
              </div>
              <div class="info">
                <ul class="route-info">
                  {{ $current_sector := index (split .File.Dir "/") 1 }}
                  <li>Sektoreita: {{ len .Pages.ByWeight }}
                  <li>Reittejä: {{ len .RegularPagesRecursive }}
                    <ul class="routes">
                      {{ range .RegularPages.ByWeight }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }} ({{ .Params.grade }})</a></li>
                      {{ end }}
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {{ end }}
      </div>

    {{ end }}
  </div>

  <div>
    {{ if isset .Params "sector"}}
    {{ range .Pages.GroupByParam "sector" }}
      <h2>{{ .Key }}</h2>
    {{ end }}
      
    {{ end }}
  </div>
</div>

{{ end }}

{{ define "scripts" }}
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
    crossorigin="anonymous"></script>
  {{ $routes_js := resources.Get "js/routes.js" | js.Build }}
  <script src="{{ $routes_js.RelPermalink }}"></script>
  {{ if isset .Params "mapinfo" }}
    {{ $leaflet_js := resources.Get "js/leaflet.js" | js.Build }}
    {{ $leaflet_js_map := resources.Get "js/leaflet.js.map" }}
    <script src="{{ $leaflet_js.RelPermalink }}"></script>
    {{ $leaflet_page_js := resources.Get "js/leaflet-page.js" | js.Build }}
    <script src="{{ $leaflet_page_js.RelPermalink }}"></script>
  {{ end }}
{{ end }}